In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
df_ = pd.read_csv("archive/stores data-set.csv")

In [25]:
df = df_.copy()

In [26]:
df.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [27]:
df.tail()

    Store Type    Size
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

In [28]:
df.columns

Index(['Store', 'Type', 'Size'], dtype='object')

In [29]:
df.index

RangeIndex(start=0, stop=45, step=1)

In [30]:
[col for col in df.columns]

['Store', 'Type', 'Size']